    @font-face {
        font-family: Mont;
        src: url(/Fonts/Montserrat-Bold.ttf);
    }
    
    @font-face {
        font-family: MontBold;
        src: url(/Fonts/Montserrat-ExtraBold.ttf);
    }
    
    @font-face {
        font-family: MontReg;
        src: url(/Fonts/Montserrat-Regular.ttf);
    }
    
    body {
        overflow-x: hidden;
        font-family: Mont;
    }
    
    .absolute {
        position: absolute;
    }
    
    .relative {
        position: relative;
    }
    
    .my-column {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
    }
    
    .my-row {
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
    }
    
    .my-center {
        text-align: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;
    }
    
    .fillwidth {
        min-width: 100%;
        height: auto;
    }
    
    .fillheight {
        min-height: 100%;
        width: auto;
    }
    
    .gly-rotate-25 {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    
    .gly-rotate-180 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    
    .bold-link {
        font-weight: 700;
        cursor: pointer;
        text-decoration: underline;
        color: black;
    }
    
    .bold-link:hover {
        color: #4e4e4e;
    }
    
    .header-page {
        background: #FF895B;
    }
    
    .header-content {
        padding-top: 150px;
    }
    
    .left-airplane {
        left: 0;
        top: 140;
    }
    
    .right-airplane {
        right: 0;
        top: 110;
    }
    
    .header-page h1 {
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 81px;
        color: #FFFFFF;
        filter: drop-shadow(-3px 3px 0px rgba(0, 0, 0, 1));
        -webkit-text-stroke: 2px black;
        /* margin: auto !important; */
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        z-index: 1000;
    }
    
    .header-timeline {
        width: 50vw;
        margin-top: 60px;
    }
    
    .header-button {
        /* margin-left: auto;
        margin-right: auto; */
        margin-top: 65px;
        margin-bottom: 60px;
        z-index: 10;
    }
    
    .nav-button {
        /* left: 5vw; */
        /* margin-top: -5px; */
        width: 185px;
        border: 2px solid black;
        border-radius: 50px;
        background: white;
        padding: 3px 0;
        font-size: 0.9rem;
    }
    
    .navbar-light .navbar-toggler {
        color: black;
        border: none;
        outline: none;
    }
    
    .header-button button:focus,
    .nav-button:focus,
    .modal input:focus,
    .modal select:focus,
    .modal .close:focus {
        outline: none;
        text-decoration: none !important;
    }
    
    .header-button button:hover {
        background: #FF895B;
    }
    
    .nav-button {
        background: transparent !important;
    }
    
    .nav-button:hover {
        background: black !important;
        color: white;
    }
    /* form in modal style */
    
    .modal {
        font-size: 0.8rem;
    }
    
    .modal input {
        border: none;
        border-bottom: 2px solid black !important;
    }
    
    .modal select {
        width: 150px;
        border: 2px solid black;
        border-radius: 50px;
        background: white;
        padding: 0;
    }
    
    .modal p {
        font-size: x-small;
    }
    
    .modal .btn {
        width: 200px;
        border: 2px solid black;
        border-radius: 50px;
        background: black;
        color: white;
        padding: 2px 0 !important;
        margin-bottom: 14px;
        margin-right: 14px;
    }
    
    .modal .btn:hover {
        background: white;
        color: black;
    }
    
    .modal-content {
        border: 2px solid black;
        border-radius: 20px;
        width: 600px;
    }
    
    .chevron {
        margin-bottom: 90px;
        margin-top: 20px;
    }
    
    @media screen and (min-width: 576px) {
        .modal-dialog {
            max-width: 600px;
        }
    }
    
    .navbar li a {
        font-size: 0.8rem;
        color: black;
    }
    
    .navbar li a:hover {
        font-size: 0.8rem;
        color: rgb(78, 78, 78);
        text-decoration: none;
    }
    
    @media screen and (max-width: 780px) {
        .header-timeline {
            display: none;
        }
        .right-airplane {
            width: 140px;
            height: auto;
        }
        .left-airplane {
            width: 150px;
            height: auto;
            top: 400;
        }
        .header-content {
            padding-top: 120px;
        }
    }
    /* Second page styles */
    
    .whatSTW {
        width: 70%;
        margin-top: 110px;
        margin-bottom: 110px;
    }
    
    .whatSTW-container {
        display: flex;
    }
    
    .whatSTW-container .content-container {
        flex: 1;
    }
    
    .whatSTW-container .img-container {
        flex: 1;
    }
    
    .whatSTW-container .content-container p {
        width: 80%;
        margin-right: auto !important;
    }
    
    @media screen and (max-width: 780px) {
        .whatSTW-container {
            display: flex;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            -ms-align-content: center;
            -webkit-align-content: center;
            align-content: center;
        }
        .whatSTW {
            width: 90%;
        }
        .whatSTW .mobile-header {
            display: block !important;
        }
        .whatSTW .desktop-header {
            display: none !important;
        }
    }
    /* Third page style */
    
    .why-participate {
        background: #7D83FF;
    }
    
    .why-participate-container {
        width: 70%;
        padding-top: 110px;
        padding-bottom: 110px;
    }
    
    .why-participate-container .why-element {
        margin-top: 30px;
    }
    /* Competition Journey page style */
    
    @media screen and (max-width: 994px) {
        .timeline-section,
        .steps-container {
            display: none;
        }
    }
    
    .competition-journey {
        /* width: 70%; */
        padding-top: 110px;
        padding-bottom: 110px;
    }
    /* timeLine Style */
    
    .competition-journey .timeline-section {
        width: 800px;
    }
    
    .timeline-section .step-dot {
        height: 26px;
        width: 26px;
        padding: 1px;
        border: 3px solid #B2B2B2;
        border-radius: 50%;
        margin-top: 20px
    }
    
    .timeline-section .step-innerdot {
        height: 10px;
        width: 10px;
        background: #B2B2B2;
        border-radius: 50%;
    }
    
    .timeline-section .step-line {
        border-top: 3px solid #B2B2B2;
        width: 233px;
    }
    
    .timeline-section .step-date {
        color: #B2B2B2;
    }
    
    .timeline-section #step1Dot,
    .timeline-section #step2Dot {
        border-color: black;
    }
    
    .timeline-section #step1InnerDot,
    .timeline-section #step2InnerDot {
        background: red;
    }
    
    .timeline-section #step1Date {
        color: black;
    }
    
    .timeline-section #step1Line {
        border-top-color: black;
    }
    
    .steps-container {
        width: 800px;
    }
    
    .steps-container .nav-item {
        width: 266px;
    }
    
    .steps-container .nav-tabs .nav-link {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    
    .steps-container .nav-link {
        border: 3px solid transparent;
        color: #B2B2B2;
    }
    
    .steps-container.nav-tabs .nav-item.show .nav-link {
        color: #B2B2B2;
        background-color: #fff;
        border-color: #B2B2B2 #B2B2B2 #fff;
    }
    
    .steps-container .nav-tabs .nav-link.active {
        color: black;
        background-color: #fff;
        border-color: black black #fff;
    }
    
    .tab-content .active {
        border-color: black !important;
        color: black;
    }
    
    .steps-container .nav-link {
        border: 3px solid;
        border-color: #B2B2B2 #B2B2B2 black;
        color: #B2B2B2;
    }
    
    .steps-container #Game-Submission,
    .steps-container #Shortlisting,
    .steps-container #Final-Round {
        border: 3px solid #B2B2B2;
        border-radius: 0 0 20px 20px;
        border-top: none;
    }
    /* mobile-timeline style */
    /* body {
        margin-top: 20px;
    }
     */
    
    @media (min-width: 994px) {
        .timeline {
            display: none;
            ;
        }
    }
    
    .timeline {
        border-left: 3px solid #000000;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        margin: 0 auto;
        letter-spacing: 0.2px;
        position: relative;
        line-height: 1.4em;
        font-size: 1.03em;
        padding: 50px;
        list-style: none;
        text-align: left;
        max-width: 40%;
    }
    
    @media (max-width: 994px) {
        .timeline {
            max-width: 98%;
            padding: 0 25px;
        }
    }
    
    .timeline h1 {
        font-weight: 300;
        font-size: 1.4em;
    }
    
    .timeline h2,
    .timeline h3 {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 10px;
        color: black;
    }
    
    .timeline .event {
        border-bottom: 1px dashed #e8ebf1;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
    }
    
    @media (max-width: 994px) {
        .timeline .event {
            padding-top: 30px;
        }
    }
    
    .timeline .event:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
    }
    
    .timeline .event:before,
    .timeline .event:after {
        position: absolute;
        display: block;
        top: 0;
    }
    
    .timeline .event:before {
        left: -207px;
        content: attr(step);
        text-align: right;
        font-weight: 500;
        font-size: 1.75rem;
        min-width: 120px;
        color: black;
    }
    
    @media (max-width: 994px) {
        .timeline .event:before {
            left: 0px;
            text-align: left;
        }
    }
    /* .timeline {
        list-style-image: url('/img/Dot.svg') !important;
    }
     */
    
    .timeline .event:after {
        /* -webkit-box-shadow: 0 0 0 3px #000000;
        box-shadow: 0 0 0 3px #000000; */
        background-image: url('../img/Dot.svg') !important;
        left: -55.8px;
        background-size: cover;
        /* background: #fff; */
        /* border-radius: 50%; */
        height: 30px;
        width: 30px;
        content: "";
        top: 5px;
    }
    
    @media (max-width: 994px) {
        .timeline .event:after {
            left: -41.8px
        }
    }
    
    .rtl .timeline {
        border-left: 0;
        text-align: right;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        border-right: 3px solid #727cf5;
    }
    
    .rtl .timeline .event::before {
        left: 0;
        right: -170px;
    }
    
    .rtl .timeline .event::after {
        left: 0;
        right: -55.8px;
    }
    /* judges page styles */
    
    .judges-section {
        background-color: #FF895B;
        padding-top: 110px;
        padding-bottom: 110px;
    }
    
    .judges-section-container {
        width: 70%;
    }
    /* slider page style */
    
    .slider-section {
        background-color: #FFD400;
        padding-top: 110px;
        padding-bottom: 110px
    }
    
    .slider-section .slider-header {
        /* margin-left: 180px; */
        margin-bottom: 40px;
    }
    
    @media screen and (min-width: 900px) {
        .slider-section .slider-section-container {
            width: 70%;
        }
    }
    
    @media screen and (max-width: 900px) {
        .slider-section .slider-header {
            /* margin-left: 20px; */
            margin-bottom: 40px;
        }
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        top: 230;
        bottom: 0;
        /* width: 15%; */
        color: black;
        opacity: 1!important;
        border: 2px solid black;
        border-radius: 50% !important;
        height: 60px;
        width: 60px;
        padding: 10px;
    }
    
    .carousel-indicators {
        bottom: -65px;
    }
    
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border: 2px solid black !important;
        border-radius: 50%;
        background-color: transparent;
        opacity: 1;
    }
    
    .carousel-indicators .active {
        background: black;
    }
    /* .carousel-item {
        z-index: 10;
    }
     */
    
    .carousel-caption {
        position: absolute;
        right: 30%;
        bottom: 28px;
        top: 63px;
        left: 33%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
        color: black;
    }
    
    @media screen and (min-width:1550px) {
        .carousel-caption {
            right: 34%;
            bottom: 28px;
            top: 63px;
            left: 36%;
        }
    }
    
    .carousel-caption p {
        /* width: 70%; */
        margin-top: 22px;
        font-size: 1.2rem
    }
    
    .carousel .slider-bottom {
        /* width: 70%; */
        margin-left: 0px;
        margin-top: 27%;
    }
    
    .carousel .slider-bottom img {
        right: 5%;
    }
    
    @media screen and (max-width:780px) {
        .carousel-item .slider-img {
            width: 96%;
        }
        .carousel-control-prev,
        .carousel-control-next {
            top: 102%;
        }
        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 28px;
            top: 13%;
            left: 13%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: left;
        }
        .carousel-caption p {
            /* width: 70%; */
            margin-top: 15px;
            font-size: 1rem
        }
        .carousel .slider-bottom {
            /* width: 70%; */
            margin-left: 0px;
            margin-top: 20%;
        }
    }
    
    .slider-section .left-wave {
        left: 0;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .slider-section .right-wave {
        margin-top: -147px;
        overflow-x: hidden;
    }
    
    @media screen and (max-width: 780px) {
        .slider-section .right-wave {
            width: 350px
        }
        .slider-section .left-wave {
            width: 300px;
        }
    }
    
    .slider-section .numbers {
        margin-top: 90px;
    }
    
    .slider-section .numbers h1 {
        font-weight: 1000 !important;
    }
    
    @media screen and (min-width: 780px) and (max-width: 1024px) {}
    /* next winner style */
    
    .next-winner-section {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    
    .next-winner-section button {
        background: #FF895B;
    }
    
    .next-winner-section button:hover {
        background: white;
    }
    
    .my-button-container {
        width: 230px;
    }
    
    .my-button-container .bg-shadow {
        position: absolute;
        width: 230px;
        left: 5px;
        top: 5px;
        z-index: -1;
    }
    
    .my-button-container button {
        width: 221px;
        border: 2px solid black;
        border-radius: 50px;
        padding: 5px 0;
        font-weight: 600;
        font-size: 1rem;
    }
    
    .my-button-container button:focus {
        outline: none;
        text-decoration: none !important;
    }
    /* FAQ section style */
    
    .faq-section {
        background: #57C4C3;
        padding-bottom: 110px;
        padding-top: 110px;
    }
    
    .faq-section .card {
        background-color: transparent;
        border: none;
    }
    
    .faq-section .card-header {
        padding: 0.75rem 0;
        margin-bottom: 0;
        background-color: transparent;
        border-bottom: 3px solid black;
        color: black;
    }
    
    .faq-section .card-header a {
        color: black;
    }
    
    .faq-section .card-body {
        text-align: left !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .faq-section .card-header h5 span {
        float: left;
    }
    
    .faq-section .card-header h5 img {
        float: right;
        width: 25px;
    }
    
    .contact-section {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    /* footer section style */
    
    footer {
        background-color: black;
        color: white;
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 0.8rem;
    }
    
    footer a {
        padding-left: 0 !important;
        padding-right: 0 !important;
        color: white;
    }
    
    footer a:hover {
        color: #B2B2B2;
        text-decoration: none;
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 140px;
        text-align: left;
    }
    
    .sidenav a {
        padding: 12px 0 12px 25px;
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav .submit-game {
        color: white !important;
    }
    
    .sidenav a:hover {
        color: #B2B2B2;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    .active-header {
        color: black;
        font-weight: 800;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(7px);
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
    
    @media screen and (min-width: 1417px) and (max-width: 1610px) {
        .my-button-container .bg-shadow {
            left: 14px;
        }
    }
    
    @media screen and (min-width: 1611px) and (max-width: 1700px) {
        .my-button-container .bg-shadow {
            left: 24px;
        }
    }
    
    @media screen and (min-width: 1701px) and (max-width: 1820px) {
        .my-button-container .bg-shadow {
            left: 34px;
        }
    }
    
    @media screen and (min-width: 1821px) and (max-width: 1920px) {
        .my-button-container .bg-shadow {
            left: 43px;
        }
    }
    
    @media screen and (min-width: 1921px) and (max-width: 2020px) {
        .my-button-container .bg-shadow {
            left: 49px;
        }
    }
    
    @media screen and (min-width: 2020px) and (max-width: 2100px) {
        .my-button-container .bg-shadow {
            left: 53px;
        }
    }
    
    @media screen and (min-width: 2101px) {
        .my-button-container .bg-shadow {
            left: 63px;
        }
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
    
    .slider-card {
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .fade-out {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.5s, opacity 0.5s linear;
    }
    
    .fade-in {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }